extends ../user/account 

block dashboard 
  .admin-dashboard
    .card-container
      each el in data
        .card 
          .card__header 
            .card__picture 
              .card__picture-overlay &nbsp;
              if path === 'tours'
                img.card__picture-img(src=`/img/${path}/${el.imageCover}` alt=`${path} cover image`)
              else
                img.card__picture-img(src=`/img/${path}/${el.photo}` alt=`${path} photo`)
            h3.heading-tertirary 
              if path === 'tours'
                span= el.name 
              else 
                span= el.username
          .card__footer 
            .btns-wrap
              if el.slug
                a.btn.btn--green.btn--small(href=`/${path}/${el.slug}`) Details
              a.btn.btn--green.btn--small(href=`/me/manage-${path}/edit/${el.id}`) Edit
              a.delete-el.btn.btn--green.btn--small(data-el-id=`${el.id}` data-el-path=`${path}`) Delete